################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FsGlfw3/bin
/FsGlfw3/obj
/.vs/FsGlfw3/v14/.suo
/packages/OpenTK.1.1.2349.61993
/Sample/bin/Debug
/Sample/obj/Debug
/Sample/bin/Release
/Sample/obj/Release
/FsGlfw.3.2.0.nupkg
/FsGlfw.3.2.nupkg
